ul.logos-list
    li.logos-list__item.wow.fadeInUp(data-wow-duration="0.8s") 
        .logos-list__img
            img(src="img/photo/logo-list-1.png", alt="")
        .logos-list__text Germany Red Dot Design Award

    li.logos-list__item.wow.fadeInUp(data-wow-duration="0.8s") 
        .logos-list__img
            img(src="img/photo/logo-list-2.png", alt="")
        .logos-list__text Japan Good Design Award

    li.logos-list__item.wow.fadeInUp(data-wow-duration="0.8s") 
        .logos-list__img
            img(src="img/photo/logo-list-3.png", alt="")
        .logos-list__text Germany iF Product Design Award

    li.logos-list__item.wow.fadeInUp(data-wow-duration="0.8s") 
        .logos-list__img
            img(src="img/photo/logo-list-4.png", alt="")
        .logos-list__text Europe Product Design Award

    li.logos-list__item.wow.fadeInUp(data-wow-duration="0.8s") 
        .logos-list__img
            img(src="img/photo/logo-list-5.png", alt="")
        .logos-list__text South Korea  Good Design Award

