.checout-card(data-chekcout-card) 
    .checout-card__row 
        ul.checout-card__list 
            li.checout-card__list-item
                .checout-card__list-item-left Товаров на сумму:
                .checout-card__list-item-right 
                    span.text-nowrap 99 999 ₽

            li.checout-card__list-item
                .checout-card__list-item-left Скидка:
                .checout-card__list-item-right 
                    span.text-nowrap -10 434 ₽ 

            li.checout-card__list-item
                .checout-card__list-item-left Доставка:
                .checout-card__list-item-right бесплатно

            li.checout-card__list-item
                .checout-card__list-item-left Доставка:
                .checout-card__list-item-right зависит от адреса доставки

            li.checout-card__list-item.text-primary
                .checout-card__list-item-left Будет начислено бонусов:
                .checout-card__list-item-right 
                    span.text-nowrap +350 ₽

    .checout-card__row
        .checout-card__total
            .checout-card__total-label ИТОГО К ОПЛАТЕ:
            .checout-card__total-value 99 999 ₽

    .checout-card__row
        .checout-card__text Доступные способы и время доставки можно выбрать при оформлении заказа

    .checout-card__row
        .checout-card__btn-wrap
            a(href="#").checout-card__btn Перейти К ОФОРМЛЕНИЮ

    .checout-card__row
        .checout-card__text.checout-card__text--lg
            p <a href="#">Авторизуйтесь</a> или <a href="#">зарегистрируйтесь</a>, чтобы получить бонусы за заказ или оплатиить заказ накопленными бонусами.
            p Применить скидку иили оплатить заказ бонусами вы сможете на следующем шаге оформлениия заказа.