.checout-card(data-chekcout-card) 
    .checout-card__row 
        ul.checout-card__list 
            li.checout-card__list-item
                .checout-card__list-item-left 
                    strong Товар в заказе:
                .checout-card__list-item-right 
                    
            li.checout-card__list-item
                .checout-card__list-item-left Название товара:
                .checout-card__list-item-right 
                    span.text-nowrap 99 999 ₽ 
            li.checout-card__list-item
                .checout-card__list-item-left Название товара:
                .checout-card__list-item-right 
                    span.text-nowrap 99 999 ₽ 
            li.checout-card__list-item
                .checout-card__list-item-left Название товара:
                .checout-card__list-item-right 
                    span.text-nowrap 99 999 ₽ 

    .checout-card__row
        hr
    .checout-card__row
        ul.checout-card__list 
            li.checout-card__list-item
                .checout-card__list-item-left.text-secondary Товаров на сумму
                .checout-card__list-item-right 
                    span.text-nowrap 56 358 ₽ 
            li.checout-card__list-item
                .checout-card__list-item-left.text-secondary Списание бонусов
                .checout-card__list-item-right 
                    span.text-nowrap  -999 ₽ 
            li.checout-card__list-item
                .checout-card__list-item-left.text-secondary Скидка по промокоду
                .checout-card__list-item-right 
                    span.text-nowrap -2 000 ₽ 
            li.checout-card__list-item
                .checout-card__list-item-left.text-secondary Скидка по Trade-In
                .checout-card__list-item-right 
                    span.text-nowrap  -999 ₽ 
            li.checout-card__list-item
                .checout-card__list-item-left.text-secondary Скидка по сертификату
                .checout-card__list-item-right 
                    span.text-nowrap -2 000 ₽ 
            li.checout-card__list-item
                .checout-card__list-item-left.text-primary Будет начислено баллов
                .checout-card__list-item-right.text-primary 
                    span.text-nowrap +100 баллов
            li.checout-card__list-item
                .checout-card__list-item-left.text-secondary Доставка
                .checout-card__list-item-right 
                    span.text-nowrap -550  ₽

    .checout-card__row
        .checout-card__total
            .checout-card__total-label ИТОГО К ОПЛАТЕ:
            .checout-card__total-value 99 999 ₽

    .checout-card__row
        +checkbox('Нужен звонок оператора', '')

    .checout-card__row
        .checout-card__btn-wrap
            a(href="#").checout-card__btn ОФОРМИТЬ ЗАКАЗ

    .checout-card__row
        .checout-card__text.checout-card__text--lg
            p Нажав кнопку “Оформить заказ”, вы соглашаетесь на обработку Ваших персональных данных HMD Global oy и ООО “ДИХАУС” (вклюая трансграничную передачу в HMD Global Oy) в соответствии c <a href="#">политикой конфиденциальности HMD Global Oy</a> и <a href="#">политикой конфендциальности diHouse.</a> 