table.table-default
    tr 
        th.bg-dark.text-white(colspan="2") Main Parameters
    tr 
        th.bg-primary.text-white(colspan="2") General
    tr 
        td Brand
        td ADO
    tr 
        td.bg-light Type
        td.bg-light 20*4.0 Inches
    tr 
        td Model
        td A20F
    tr 
        td.bg-light Color
        td.bg-light Black/White

table.table-default
    tr 
        th.bg-primary.text-white(colspan="2") Vehicle Performance
    tr 
        td(rowspan="2") Dimensions L×W×H
        td Overall unit：1740*530*1200 mm
    tr 
        td After folding：980*450*770 mm
    tr 
        td.bg-light Package Size
        td.bg-light 1010*490*710mm
    tr 
        td Operating Temperature
        td -10~40°C
    tr 
        td.bg-light Storage Temperature
        td.bg-light -20~50°C
    tr 
        td Net Weight
        td 29kg
    tr 
        td.bg-light Gross weight
        td.bg-light IPX5
    tr 
        td IP Rating
        td -10~40°C
    tr 
        td.bg-light Max. Speed
        td.bg-light 25km/35km (Unlock mode)
    tr 
        td Transmission
        td Shimano 7 Speed
    tr 
        td.bg-light Gear ratio
        td.bg-light (28-14):48
    tr 
        td Electric range
        td <50km
    tr 
        td.bg-light Assisting range
        td.bg-light <70km
    tr 
        td Shock-absorption
        td Front Fork and Rubber pneumatic tire
    tr 
        td.bg-light(rowspan="2") Brake
        td.bg-light Front: Mechanical disc brake
    tr 
        td.bg-light Rear: Mechanical disc brake

table.table-default
    tr 
        th.bg-dark.text-white(colspan="2") Mechanic
    tr 
        th.bg-primary.text-white(colspan="2") Head of Bicycle
    tr 
        td Material
        td Aluminum alloy
    tr 
        td.bg-light Handgrip Material
        td.bg-light TPR
    tr 
        td Foldable
        td Foldable, Adjustable
    tr 
        td.bg-light Adjustable of height
        td.bg-light Yes,with protective jacket
    tr 
        td Throttle lever
        td Yes
    tr 
        td.bg-light Small bell
        td.bg-light Electronic speaker
    tr 
        td Brake handle
        td left/Right
    tr 
        td.bg-light Mobile Phone Charging Station
        td.bg-light 5V/1A USB type A+ Charging Base

table.table-default
    tr 
        th.bg-primary.text-white(colspan="2") Front Wheel
    tr 
        td Drivenmethod
        td /
    tr 
        td.bg-light Material
        td.bg-light Aluminum alloy
    tr 
        td Hub type
        td Integrated molding hub
    tr 
        td.bg-light Size
        td.bg-light 20 *4.0inch
    tr 
        td Tire
        td Mechanical disc brake 
    tr 
        td.bg-light Brake 
        td.bg-light Motor drive wheel 

table.table-default
    tr 
        th.bg-primary.text-white(colspan="2") Rear Wheel
    tr 
        td Drivenmethod
        td /
    tr 
        td.bg-light Material
        td.bg-light Aluminum alloy
    tr 
        td Hub type
        td Integrated molding hub
    tr 
        td.bg-light Size
        td.bg-light 20 *4.0inch
    tr 
        td Tire
        td Rubber pneumatic tire (American gas nozzle)
    tr 
        td.bg-light Brake
        td.bg-light Mechanical disc brake

table.table-default
    tr 
        th.bg-primary.text-white(colspan="2") Main Frame
    tr 
        td Material 
        td Aluminum alloy
    tr 
        td.bg-light Type
        td.bg-light Main Girder Folding
    tr 
        td Parking
        td Parking stand 
    tr 
        td.bg-light Battery location
        td.bg-light Built-in main girder
    tr 
        td Reflect Sticker
        td /
    tr 
        td.bg-light Max Steering Angle 
        td.bg-light 60°(each side)
    tr 
        td Rear  Light 
        td Electric taillight
    tr 
        td.bg-light Air pump 
        td.bg-light yes (Accessory)
    tr 
        td Foot Pad Material 
        td Nylon
    tr 
        td.bg-light Foot Pad Type 
        td.bg-light Folding
    tr 
        td Carrying handle
        td Yes

table.table-default
    tr 
        th.bg-primary.text-white(colspan="2") Light auxiliary settings
    tr 
        td Front white light + white reflector 
        td YES
    tr 
        td.bg-light Rear red light + red reflector 
        td.bg-light YES
    tr 
        td Two yellow reflectors before and after the pedal
        td YES
    tr 
        td.bg-light Two yellow reflectors on the spoke
        td.bg-light YES

table.table-default
    tr 
        th.bg-dark.text-white(colspan="2") Electronics Control
    tr 
        th.bg-primary.text-white(colspan="2") Battery
    tr 
        td Material 
        td Lithium battery
    tr 
        td.bg-light Type of batteries
        td.bg-light Removable portable charging
    tr 
        td Battery number 
        td 40PCS
    tr 
        td.bg-light Rated Voltage 
        td.bg-light 36V
    tr 
        td Charge cut-off voltage
        td 42V
    tr 
        td.bg-light Rated Capacity 
        td.bg-light 36V12.5AH
    tr 
        td Charging Temperature 
        td 0~40°C
    tr 
        td.bg-light Battery ManagementSystem
        td.bg-light Over-heating, Short circuit, Over- current, Over-charge protection

table.table-default
    tr 
        th.bg-primary.text-white(colspan="2") Charger
    tr 
        td Input Voltage 
        td 100~240V, 50/60Hz
    tr 
        td.bg-light Output Voltage   
        td.bg-light 42V DC
    tr 
        td Output Current  
        td 2A
    tr 
        td.bg-light Output Power  
        td.bg-light 84W

table.table-default
    tr 
        th.bg-primary.text-white(colspan="2") Motor
    tr 
        td Brand 
        td \
    tr 
        td.bg-light Motor Type  
        td.bg-light Hall Brushless Gear DC Motor 
    tr 
        td Rated Voltage  
        td 36V
    tr 
        td.bg-light Rated Power   
        td.bg-light CE Version：250W（Unlock Mode：500W）；Internation Version:500W
    tr 
        td Max. Power  
        td \
    tr 
        td.bg-light Torque  
        td.bg-light 45 N.m
    tr 
        td Rated speed 
        td 380 r/min

table.table-default
    tr 
        th.bg-primary.text-white(colspan="2") System Control
    tr 
        td Turn On/Off
        td(rowspan="3") Visible button on the speed control handle 
    tr
        td Motor Riding Modes Switch
    tr
        td Front Light Switch
    tr 
        td.bg-light Display Type 
        td.bg-light 886 Type HD LCD Display, Clearly under the sunshine
    tr 
        td Display Contents 
        td Speed, mileage, Gear, glitch
    tr 
        td.bg-light Electronic booster starting point  
        td.bg-light 6 KM start (CE )(Can change to 0KM start by enduser)
    tr 
        td Under voltage protection
        td 31±2V
    tr 
        td.bg-light Over current protection 
        td.bg-light 15±2A

table.table-default
    tr 
        th.bg-dark.text-white(colspan="2") ADO Dual System Controller (Dual System switch at will)
    tr 
        th.bg-primary.text-white(colspan="2") Pedal Assist System: (2 modes) Bicycle mode Pedal assist mode
    tr 
        td 0: Riding mode
        td(rowspan="4") yes
    tr 
        td 1: Assist speed limit 15km/h
    tr
        td 2: Assist speed limit 20km/h
    tr 
        td 3: Assist speed limit 25km/h

table.table-default
    tr 
        th.bg-primary.text-white(colspan="2") Hybrid Drive System: (3 modes) Bicycle mode Pedal assist mode Pure electric mode
    tr 
        td  0: Riding mode
        td(rowspan="4") yes 
    tr 
        td 1: Assist speed limit 15km/h
    tr 
        td 3: Assist speed limit 25km/h
    tr 
        td 5: Pure electric: after 6 km/h, the speed limit is 25km(=P08)

table.table-default
    tr 
        th.bg-dark.text-white(colspan="2") Main Selling Points
    tr 
        td 1
        td 20*4.0 Inches tires with Integrated molding hub
    tr 
        td.bg-light 2
        td.bg-light 500W Power rate Gear Motor with 380 r/Min speed
    tr 
        td 3
        td Front fork and addle tube double Shock-absorption
    tr 
        td.bg-light 4
        td.bg-light 886 Type HD LCD Display,clearly under the sunshine
    tr 
        td 5
        td Humanization design,like USB Charger/Carrying handle....
    tr 
        td.bg-light 6
        td.bg-light Dual mode free switching


