.table-default-scroll-wrap {
    @media (max-width: $md2+px) {
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px;
        padding-right: 16px;
        overflow-x: auto;
    }

    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(214, 214, 214, 0.3);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0px 0px 0px 0px #fff;
    }

    & .hidden-table-wrap {
        margin-bottom: 0 !important;
    }
}
.table-default {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    word-break: break-word;

    @media (max-width: $md2+px) {
        font-size: 8px;
    }
    @media (max-width: $md2+px) {
        font-size: 6px;
    }



    th {
        height: 3.33em;
        font-size: 2.4em;
        line-height: 1.16em;
        font-weight: bold;
        padding: 0.5em;
    }
    td {
        border: 1px solid #dcdcdc;
        height: 3.33em;
        font-size: 2.4em;
        line-height: 1.16em;
        padding: 0.5em;
    }

    @for $i from 2 to 13 {
        &--col-#{$i} {
            min-width: 500 + ($i * 30px);
            td {
                width: calc(100% / $i);
            }
        }
    }

    &--col-2 {
        min-width: auto;
    }

    &--col-3 {
        td {
            &:first-child {
                width: 25%;
            }
        }
    }

    &--collapse {
        margin-top: 0 !important;
        margin-bottom: 0 !important;

        & tr:first-child {
            & td {
                border-top: none;
            }
        }
    }
}

.hidden-table-wrap {
    margin-bottom: 4.5rem !important;
    display: none;

    @media (max-width: $md2+px) {
        margin-bottom: 40px !important;
    }
    @media (max-width: $md3+px) {
        margin-bottom: 25px !important;
    }
}

.hidden-table-btn-wrap {
    margin-bottom: 9rem;
    margin-top: 4.5rem;
    text-align: center;

    @media (max-width: $md2+px) {
        margin-top: 40px;
        margin-bottom: 80px;
    }
    @media (max-width: $md3+px) {
        margin-top: 25px;
        margin-bottom: 50px;
    }
}
