footer.footer
    .container 
        .footer__body 
            .footer__col.footer__col--1
                .footer__logo 
                    a(href="#")
                        img(src="img/logo/logo-white.svg", alt="")
                .footer__copy(data-da=".footer__col--4,767.98,last") © 2022 diHouse <br> Все права защищены.

            .footer__col.footer__col--2
                ul.footer__list 
                    li 
                        a(href="#").footer__link Бритвы и триммеры 
                    li 
                        a(href="#").footer__link Зубные щетки и ирригаторы
                    li 
                        a(href="#").footer__link Фены для волос 
                    li 
                        a(href="#").footer__link Аксессуары

            .footer__col.footer__col--3
                ul.footer__list 
                    li 
                        a(href="#").footer__link Сервис
                    li 
                        a(href="#").footer__link Наши партнеры
                    li 
                        a(href="#").footer__link Доставка и оплата
                    li 
                        a(href="#").footer__link Пользовательское соглашение
                    li 
                        a(href="#").footer__link Политика конфиденциальности

            .footer__col.footer__col--4
                .footer__contact-info
                    include ../common/contact-info/_contact-info
                .footer__social
                    include ../common/social/_social
            






