.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    border: none;
    border-radius: 0;
    border: 1px solid $secondColor;
    padding: 0rem 0 4rem;

    @media (max-width: $md2+px) {
        padding: 0rem 0 2rem;
    }

    @media (max-width: $md3+px) {
        padding: 0px 20px 20px;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    &__label {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 6;
        pointer-events: none;
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-end;

        & .product-label {
            margin-bottom: 1rem;

            @media (max-width: $md3+px) {
                margin-bottom: 5px;
            }
        }
    }

    &__label-detail {
        position: absolute;
        top: 3rem;
        left: 3rem;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 14rem;
        width: 14rem;
        border-radius: 50%;
        border: 0.3rem solid $mainColor;
        background-color: #fff;
        padding: 0.8em;
        text-align: center;
        color: $textColorSecondary;
        font-size: 1.6rem;
        line-height: 1.16em;

        @media (max-width: $md2+px) {
            top: 30px;
            left: 20px;
            width: 90px;
            height: 90px;
            border-width: 2px;
            font-size: 11px;
        }

        @media (max-width: $md3+px) {
            top: 1rem;
            left: 1rem;
            width: 70px;
            height: 70px;
            font-size: 8px;
        }

        & p {
            margin-bottom: 0;

            &:first-child {
                margin-bottom: 0.5em;
            }
        }

        & strong {
            font-size: 1.66em;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }

        &--success {
            border-color: $successColor;
        }

        &--danger {
            border-color: $dangerColor;
        }
    }

    &__img-wrap {
        position: relative;
        height: 38rem;
        margin-bottom: 3.2rem;

        @media (max-width: $md2+px) {
            height: 220px;
            margin-bottom: 15px;
        }

        @media (max-width: $md3+px) {
            height: 170px;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }

        & a {
            &:hover {
                opacity: 1 !important;
            }
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 2;
        background-color: #fff;
        transition: all 0.2s ease;

        @media (min-width: 992px) {
            &:hover {
                opacity: 0;
            }
        }
    }

    &__hover-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $md2+px) {
            display: none;
        }
    }

    &__title {
        font-weight: bold;
        line-height: 1.175em;
        margin-bottom: 0.8rem;
        word-wrap: break-word;

        @media (max-width: $md2+px) {
            font-size: 24px;
            line-height: 1.175em;
        }

        @media (max-width: $md3+px) {
            font-size: 16px;
            line-height: 1.27em;
        }
    }

    &__product-number {
        font-size: 1.8rem;
        line-height: 1.16em;
        color: $secondColor;
        margin-bottom: 3.4rem;

        @media (max-width: $md2+px) {
            font-size: 12px;
            margin-bottom: 15px;
        }

        @media (max-width: $md3+px) {
            font-size: 15px;
            line-height: 18px;
        }
    }

    &__list {
        padding-left: 1.33em;
        font-size: 1.8rem;
        line-height: 1em;
        margin-bottom: 3.3rem;

        @media (max-width: $md2+px) {
            font-size: 12px;
            margin-bottom: 15px;
        }

        @media (max-width: $md3+px) {
            display: none;
        }

        & > li {
            list-style: disc;

            & > *:last-child {
                margin-bottom: 0;
            }

            &:not(:last-child) {
                margin-bottom: 0.7em;
            }
        }
    }

    &__text-wrap {
        padding: 0 3rem;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 2.2rem;

        @media (max-width: $md2+px) {
            padding: 0 16px;
        }
        @media (max-width: $md3+px) {
            padding: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        & > *:nth-last-child(2) {
            margin-bottom: 3rem;

            @media (max-width: $md2+px) {
                margin-bottom: 20px;
            }
        }
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.16em;

        @media (max-width: $md2+px) {
            font-size: 12px;
        }

        & strong {
            font-weight: 500;
        }

        & .timer {
            display: inline-block;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: auto;
        min-height: 8rem; 
        gap: 1.5rem 0;

        @media (max-width: $md2+px) {
            min-height: 50px;
        }

        @media (max-width: $md3+px) {
            min-height: auto;
        }
    }

    &__price {
        font-size: 4rem;
        line-height: 1.16em;
        letter-spacing: -0.027em;
        margin-right: 1.5rem;
        white-space: nowrap;
        position: relative;

        @media (max-width: $md2+px) {
            font-size: 22px;
            line-height: 1em;
        }
    }

    &__price-old {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        font-size: 0.65em;
        line-height: 1em;
        color: $secondColor;

        & .timer {
            font-size: 0.65em;
        }
    }

    &__btn {
        &:not(.btn) {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 11rem;
            min-height: 8rem;
            color: #fff;
            font-size: 4rem;
            flex: 0 0 auto;
            position: relative;

            @media (min-width: 992px) {
                &:hover {
                    color: #fff !important;
                    &::before {
                        background-color: $hover;
                    }
                }
            }

            @media (max-width: $md2+px) {
                min-height: 50px;
                min-width: 60px;
                font-size: 24px;
            }

            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: $mainColor;
                border-radius: 300px;
                transition: all 0.3s ease;
            }

            &:after {
                font-family: "icomoon";
                content: "\e904";
                position: relative;
                z-index: 2;
                margin-left: -0.2em;
            }
        }

        &--added-to-cart {
            pointer-events: none;
            &:after {
                content: "\e913" !important;
            }
        }

        &.btn {
            min-width: 11rem;
            min-height: 8rem;
            flex: 1 1 auto;
            max-width: 30rem;

            @media (max-width: $md2+px) {
                min-height: 50px;
                font-size: 24px;
                font-size: 18px;
            }
        }
    }

    &__link-all-products {
        position: absolute;
        top: calc(100% + 4.2rem);
        left: 0;
        display: block;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 3rem;
        line-height: 1.2em;
        text-align: center;
        text-decoration-line: underline;
        text-transform: uppercase;
        transition: all 0.3s ease;

        @media (max-width: $md3+px) {
            font-size: 25px;
            line-height: 30px;
        }

        @media (min-width: 992px) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &--big {
        & .card__img-wrap {
            @media (min-width: 992px) {
                height: 47.5rem;
            }
        }
    }

    &--preview {
        background-color: rgba(#fff, 0.33);
        border: none;
        border-radius: 3.3rem;

        @media (min-width: 992px) {
            min-height: 77.2rem;
        }

        & .card__img-wrap {
            height: auto;
            margin-bottom: 4.4rem;

            @media (max-width: $md3+px) {
                margin-bottom: 25px;
            }
        }

        & .card__img {
            height: 0;
            position: relative;
            overflow: hidden;
            border-radius: 3.3rem;
            background-color: #fff;
            padding-bottom: 100%;

            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                object-fit: cover;
                transition: all 1s ease;
            }

            @media (min-width: 992px) {
                &:hover {
                    opacity: 1;

                    & img {
                        transform: scale(1.05);
                    }
                }
            }
        }

        & .card__title {
            font-family: $secondFontFamily;
            font-weight: 600;
            font-size: 3rem;
            line-height: 1.23em;

            @media (max-width: $md3+px) {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }

        & .card__price {
            color: $mainColor;
            font-family: $secondFontFamily;

            @media (max-width: $md3+px) {
                font-weight: 600;
            }
        }

        & .card__btn {
            max-width: 23.3rem;
            font-family: $secondFontFamily;
            @media (max-width: $md3+px) {
                display: flex;
                max-width: 164px;
            }
        }

        & .card__text-wrap {
            margin-bottom: 0;

            @media (max-width: $md3+px) {
                padding: 0 16px;
            }
        }
    }
}
