.cookies-message(data-cookies-message)
    .container 
        .cookies-message__body 
            .cookies-message__text.text
                p Этот сайт использует файлы cookies. Нажимая ПРИНИМАЮ или продолжая просмотр сайта, Вы даете согласие на их использование. <a href="#">Подробнее</a>
            button.cookies-message__agree.btn.btn--secondary(data-action="cookies-message-close")
                span Принимаю        