

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  'MuseoSansCyrl', sans-serif;
$secondFontFamily: 'Montserrat', sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: 1267.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #000;
$textColorSecondary: #696969;
$mainColor: #493C8C;
$hover: #3b3171;
$secondColor: #C8C8C8;
$dangerColor:  #CC413C; 
$successColor:#188045;
$infoColor: #BC62EF;
$lightColor: #f4f4f4;
$darkColor: #222222;
$warningColor: #FFC31C;


:root {
    --bs-primary: #493C8C; 
    --bs-secondary: #C8C8C8;
    --bs-success: #188045;
    --bs-info: #BC62EF;
    --bs-warning: #FFC31C;
    --bs-danger: #CC413C;
    --bs-light: #f4f4f4;
    --bs-dark: #222222;

    --bs-primary-rgb: 73, 60, 140; 
    --bs-secondary-rgb: 200, 200, 200;
    --bs-success-rgb: 24, 128, 69;
    --bs-info-rgb: 188, 98, 239;
    --bs-warning-rgb: 255, 195, 28;
    --bs-danger-rgb: 204, 65, 60;
    --bs-light-rgb: 244, 244, 244;
    --bs-dark-rgb: 34, 34, 34;
}