.testimonials
    .testimonials__body
        .testimonials__item
            .testimonials__item-inner 
                .testimonials__name Виталий
                .testimonials__date 22 ноября 2021, 14:13 
                .testimonials__stars 
                    +rating('5')
                .testimonials__text Один из лучших фетбайков на сегодняшний день в продаже. И в ADO дешевле чем, в других магазинах. В комплекте насос, ключи, держатель смарта на руль. Скорость по прямой 35 км.ч. На подъемах 500 ваттный двигатель с ручкой газа, т.е без помощи педалей, работает уверенно. Широкие покрышки значительно смягчают езду. Фара освещает дорогу прилично. Особая благодарность ребятам из ADO на Грушевского 5. Толковые, вежливые и оставляют приятное впечатление профессионалов. На фоне других складных электрофэтбайков, ADO 20F - пока лидер. Весной вероятно цены будут другими, с возрастанием и значительно.
        
        .testimonials__item
            .testimonials__item-inner 
                .testimonials__name Светлана
                .testimonials__date 22 ноября 2021, 14:13 
                .testimonials__stars 
                    +rating('3')
                .testimonials__text Катаю третью неделю, 35 км на электрике и горки также были. Вилка полный отстой. А так хорош. Еще проблема - все в городе глазеют на него. Задолбали :) Хорошая покупка.
        
        .testimonials__item
            .testimonials__item-inner 
                .testimonials__name Егор
                .testimonials__date 22 ноября 2021, 14:13 
                .testimonials__stars 
                    +rating('1')
                .testimonials__text Велосипед пришел побитый, с помятым рулем и царапиной на раме. Ощущение, что мне прислали БУшный комплект.

            .testimonials__item.testimonials__item--sub.testimonials__item--support
                .testimonials__item-inner
                    .testimonials__name ADO Support
                    .testimonials__text Спасибо за отзыв, мы обязательно разберемся с вашей проблемой. Пришлите, пожалуйста, номер заказа.

                .testimonials__item.testimonials__item--sub
                    .testimonials__item-inner 
                        .testimonials__name Егор
                        .testimonials__text Номер 2456789

                    .testimonials__item.testimonials__item--sub.testimonials__item--support 
                        .testimonials__item-inner
                            .testimonials__name ADO Support
                            .testimonials__text Наш менеджер свяжется с вами в ближайшее время.
                    
                        .testimonials__item.testimonials__item--sub
                            .testimonials__item-inner 
                                .testimonials__name Егор
                                .testimonials__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, obcaecati.

                            .testimonials__item.testimonials__item--sub.testimonials__item--support 
                                .testimonials__item-inner
                                    .testimonials__name ADO Support
                                    .testimonials__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia eveniet blanditiis consequuntur ab tempore qui!
                        
    .testimonials__bottom
        form(action="/")
            .mb-5
                input(type="text" placeholder="Авторизуйтесь и оставьте, пожалуйста, отзыв о вашей покупке").form-control
            button.btn.btn--secondary.w-100.w-sm-auto
                span Оставить отзыв