section.partners.padding-wrap
    .container
        h3.partners__title Где купить?
        p.partners__subtitle.text Наши партнеры и официальные реселлеры
        ul.partners__list
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-1.png", alt="")
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-2.png", alt="")
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-3.png", alt="")
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-4.png", alt="")
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-5.png", alt="")
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-6.png", alt="")
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-7.png", alt="")
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-8.png", alt="")
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-1.png", alt="")
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-2.png", alt="")
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-3.png", alt="")
            li.partners__list-item
                    .partners__img-wrap
                        img(src="img/photo/partners-logo-4.png", alt="")