.images-carousel.swiper(data-slider="images-carousel") 
    .swiper-wrapper 
        .swiper-slide.images-carousel__item.ibg 
            img(class="swiper-lazy" data-src="img/photo/images-carousel-1.jpg", alt="")
        .swiper-slide.images-carousel__item.ibg 
            img(class="swiper-lazy" data-src="img/photo/images-carousel-1.jpg", alt="")
        .swiper-slide.images-carousel__item.ibg 
            img(class="swiper-lazy" data-src="img/photo/images-carousel-1.jpg", alt="")
        .swiper-slide.images-carousel__item.ibg 
            img(class="swiper-lazy" data-src="img/photo/images-carousel-1.jpg", alt="")

    .images-carousel__dots
        include ../common/slider-dots/_slider-dots

    .images-carousel__controls
        include ../common/slider-controls/_slider-controls