.product-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $mainColor;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.22em;
    letter-spacing: 0.0088em;
    min-height: 4rem;
    min-width: 16.2rem;
    padding: 0.5rem 2.5rem 0.5rem 3rem;
    text-transform: uppercase;
    border-radius: 300px 0 0 300px;

    @media (max-width: $md2+px) {
        min-height: 30px;
        min-width: 134px;
        padding: 5px 15px 5px 20px;
        font-size: 16px;
    }

    @media (max-width: $md3+px) {
        font-size: 14px;
        min-height: 26px;
        min-width: 100px;
    }

    &--success {
        background-color: $successColor;
    }
    &--danger {
        background-color: $dangerColor;
    }
    &--info {
        background-color: $infoColor;
    }

    &--warning {
        background-color: $warningColor;
    }
}
