.city-selection(data-city-selection)
    .city-selection__head Ваш город: г. Москва
    .city-selection__body
        button(type="button").city-selection__close
            span
        .city-selection__inner
            .city-selection__title выбор города
            .city-selection__search 
                input.city-selection__search-input(type="text" placeholder="Найти свой город")
            ul.city-selection__list
                li.city-selection__list-item
                    button(type="button").city-selection__list-city.city-selection__list-city--active Москва 
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Барнаул
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Воронеж
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Казань
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Краснодар
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Санкт-Петербург
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Белгород
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Екатеринбург
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Калининград
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Липецк
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Астрахань
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Волгоград
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Иркутск
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Кемерово
                li.city-selection__list-item
                    button(type="button").city-selection__list-city Нижний Новгород
