mixin videoBanner()
    section.video-banner&attributes(attributes)
        .video-banner__head
            .container 
                h3.video-banner__title Умная техника для дома Smartmi
                p.video-banner__subtitle.subtitle Инновации, заслуживающие внимания.

        .video-banner__inner
            video(src="img/Video-Purification.mp4" playsinline loop muted autoplay)
