include components/common/buttons/_buttons
include components/common/breadcrumb/_breadcrumb
include components/common/product-label/_product-label
include components/common/form-items/_form-items
include components/common/card/_card
include components/common/rating/_rating
include components/common/post-card/_post-card
include components/common/copy-link/_copy-link

include components/product-benefits/_product-benefits
include components/ban-dark/_ban-dark
include components/ban-light/_ban-light
include components/ban-img-full-width/_ban-img-full-width
include components/product-carousel/_product-carousel
include components/news/_news
include components/video-banner/_video-banner
include components/mini-gallery/_mini-gallery
include components/account-nav/_account-nav
