extends _base

block header
    - var headerModClass = 'header--text-dark';
    include components/header/_header

block content
    main._page.about-page.padding-top-header-size
        picture
            source(srcset="img/photo/banner-about.jpeg" media="(min-width: 576px)" class="w-100")
            img(src="img/photo/promo-header-img-2.jpg" alt="img" class="w-100")

        section.article
            .article__row 
                .container-sm 
                    - var breadcrumbLinks = ['Главная', 'Новости'];
                    +breadcrumb(breadcrumbLinks, 'Уличный велосипед возвращается с новым предложением')
            
            .article__row
                .container-sm 
                    h3.article__title ADO A16: the street bike is back <br> on offer from Europe
                    .article__info 
                        span.article__label About ADO
                        | |
                        span.article__date 22 Jan 2022

            .article__row
                .container-sm
                    .article__text.text-content.text-content--big.row.justify-content-lg-between 
                        .col-12.col-lg-5
                            p.text-uppercase.text-primary 
                                strong Smartmi — разработчик и производитель уникальной бытовой техники из Китая.
                            
                            p.text-secondary Компания постоянно совершенствует свои технологии и дизайнерские решения, чтобы привнести в жизнь своих клиентов больше эстетичных и высокотехнологичных товаров.

                        .col-12.col-lg-5
                            h5 Миссия компании SmartMi: 
                            p Максимально содействовать созданию мира, в котором у каждого будет доступ к новейшим технологиям. Мы считаем, каждый человек заслуживает право обладать высокотехнологичным современным товарам по разумной цене. Поэтому при всех преимуществах нашей бытовой техники и товаров для дома, мы не завышаем цену на свою продукцию.

                            h5 Наша продукция:

                            p Это высокие технологии в сочетании с качественной сборкой и программным обеспечением. Все эти факторы работают в гармонии, чтобы повысить качество жизни людей и обеспечить им ежедневный й комфорт.


            .article__row
                .container-sm
                    .article__text.text-content.text-content--big.text-secondary 
                        p Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.
                        p На Ежегодном инвестиционном собрании Xiaomi и Shunwei 2019 Су Цзюнь, основатель и генеральный директор Smartmi, поделился своим «менталитетом бестселлеров». Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.

            .article__row.article__row--slider 
                include components/images-carousel/_images-carousel

            .article__row
                .container-sm
                    .article__text.text-content.text-content--big.text-secondary
                        h2 Подзаголовок текста
                        p Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.
                        p На Ежегодном инвестиционном собрании Xiaomi и Shunwei 2019 Су Цзюнь, основатель и генеральный директор Smartmi, поделился своим «менталитетом бестселлеров». Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.
                        h3 Подзаголовок текста
                        p Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.
                        p На Ежегодном инвестиционном собрании Xiaomi и Shunwei 2019 Су Цзюнь, основатель и генеральный директор Smartmi, поделился своим «менталитетом бестселлеров». Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.
                        
                        picture
                            source(srcset="img/photo/article-img.jpg" media="(min-width: 576px)")
                            img(src="img/photo/article-img.jpg" alt="img")
                        
                        h4 Подзаголовок текста
                        p Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.
                        p На Ежегодном инвестиционном собрании Xiaomi и Shunwei 2019 Су Цзюнь, основатель и генеральный директор Smartmi, поделился своим «менталитетом бестселлеров». Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.
                        h5 Подзаголовок текста
                        p Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.
                        p На Ежегодном инвестиционном собрании Xiaomi и Shunwei 2019 Су Цзюнь, основатель и генеральный директор Smartmi, поделился своим «менталитетом бестселлеров». Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.

                        ul 
                            li Интеллектуально совмещает фильтрацию и мониторинг;
                            li Лазерный сенсор двойного назначения для контроля качество воздуха в помещении;
                            li Настоящий HEPA-фильтр удаляет 99,98% частиц до 80нм*;
                            li Тщательно очищает воздух вашей комнаты за 6,5 минут*.

                        ol 
                            li Интеллектуально совмещает фильтрацию и мониторинг;
                            li Лазерный сенсор двойного назначения для контроля качество воздуха в помещении;
                            li Настоящий HEPA-фильтр удаляет 99,98% частиц до 80нм*;
                            li Тщательно очищает воздух вашей комнаты за 6,5 минут*.

                        figure 
                            img(src="img/photo/article-img.jpg", alt="")

                        picture
                            source(srcset="img/photo/article-img.jpg" media="(min-width: 576px)")
                            img(src="img/photo/article-img.jpg" alt="img")

                        figure 
                            include components/images-carousel/_images-carousel

                        figure 
                            video(src="img/videoForTest.mp4" poster="img/photo/article-img.jpg" 
                            playsinline controls)

                        figure 
                            <iframe src="https://www.youtube.com/embed/hp2UQDrkjN4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        h5 Подзаголовок текста
                        p Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.
                        p На Ежегодном инвестиционном собрании Xiaomi и Shunwei 2019 Су Цзюнь, основатель и генеральный директор Smartmi, поделился своим «менталитетом бестселлеров». Многие люди говорят об инновациях в продуктах, но немногие могут воплотить свои идеи в жизнь.

            .article__row 
                .padding-wrap.bg-black.text-white
                    .container
                        .head.mb-0 
                            h3.head__title.text-center  Умная техника для дома Smartmi
                            p.head__subtitle.text.text-center Инновации, заслуживающие внимания.

                .video-full-width
                    video(src="img/Video-Purification.mp4" playsinline loop muted autoplay)

                section.ban-img-full-width
                    .container 
                        .ban-img-full-width__body 
                            .ban-img-full-width__text-wrap
                                h2.ban-img-full-width__title.wow.fadeInUp(data-wow-duration="2s") Умная техника для дома Smartmi
                                .ban-img-full-width__text.text.wow.fadeInUp(data-wow-duration="2s") Инновации, заслуживающие внимания.

                            .ban-img-full-width__img.ibg 
                                picture
                                    source(srcset="img/photo/ban-dark-img-3@2x.jpg" media="(min-width: 576px)")
                                    img(src="img/photo/article-img.jpg" alt="img")

                .padding-wrap.bg-black.text-white
                    .container 
                        .head.mb-0 
                            h3.head__title.text-center 7-ступенчатая трансмиссия SHIMANO
                            .head__subtitle.text.text-center 
                                p Комплектующие от легендарного японского бренда Shimano: надежность, качество, долговечность.

                section.ban-light.ban-light--row-revers
                    .container 
                        .ban-light__body 
                            .ban-light__text-wrap 
                                h3.ban-light__title.wow.fadeInUp(data-wow-duration="2s") 7-ступенчатая трансмиссия SHIMANO
                                .ban-light__text.text.wow.fadeInUp(data-wow-duration="2s") 
                                    p Комплектующие от легендарного японского бренда Shimano: надежность, качество, долговечность.

                            .ban-light__img.ibg.img-contain
                                picture
                                    source(srcset="img/photo/app-review-img-right.png" media="(min-width: 768px)")
                                    img(src="img/photo/app-review-img-right.png" alt="img" class=`${imgClass}`)

                - var banUrl = {desk: 'img/photo/ban-dark-img-2.jpg', mob: 'img/photo/ban-dark-img-2-mob.jpg'};
                - var banTitle = '7-ступенчатая трансмиссия SHIMANO';
                - var banText = '<p>Комплектующие от легендарного японского бренда Shimano: надежность, качество, долговечность.</p>';
                +ban-dark(banUrl, banTitle, banText)
                
                - var banUrl = {desk: 'img/photo/ban-dark-img-7.jpg', mob: 'img/photo/ban-dark-img-7-mob.jpg'};
                - var banTitle = 'Универсальная амортизационная система Double Shock';
                - var banText = '<p>Гибкая конструкция амортизатора адаптируется к любым дорожным условиям и нейтрализует удары и вибрации, обеспечивая комфортную езду.</p>';
                +ban-dark(banUrl, banTitle, banText)(class="ban-dark--row-revers")

                .padding-wrap.pb-0
                    .container
                        picture
                            source(srcset="img/photo/bike-schema-img-1.jpg" media="(min-width: 576px)" class="w-100")
                            img(src="img/photo/bike-schema-img-1.jpg" alt="img" class="w-100") 

                +product-benefits

                +mini-gallery

                +mini-gallery(class="mini-gallery--text-outside") 

                picture
                    source(srcset="img/photo/promo-header-img-1.jpg" media="(min-width: 576px)" class="w-100")
                    img(src="img/photo/promo-header-img-2.jpg" alt="img" class="w-100")

                +videoBanner()(class="video-banner--text-over-video")

        section.text-block.padding-wrap 
            .container
                .text-block__text.text-content.text-content--big.row.justify-content-lg-between 
                    .col-12.col-lg-5
                        p.text-uppercase.text-primary 
                            strong Smartmi — разработчик и производитель уникальной бытовой техники из Китая.
                        
                        p.text-secondary Компания постоянно совершенствует свои технологии и дизайнерские решения, чтобы привнести в жизнь своих клиентов больше эстетичных и высокотехнологичных товаров.

                    .col-12.col-lg-5
                        h5 Миссия компании SmartMi: 
                        p Максимально содействовать созданию мира, в котором у каждого будет доступ к новейшим технологиям. Мы считаем, каждый человек заслуживает право обладать высокотехнологичным современным товарам по разумной цене. Поэтому при всех преимуществах нашей бытовой техники и товаров для дома, мы не завышаем цену на свою продукцию.

                        h5 Наша продукция:

                        p Это высокие технологии в сочетании с качественной сборкой и программным обеспечением. Все эти факторы работают в гармонии, чтобы повысить качество жизни людей и обеспечить им ежедневный й комфорт.


        include components/gallery/_gallery

        - var title = false;
        - var subtitle = false;
        - var imgUrls = ['img/photo/news-img-1.jpg' ,'img/photo/news-img-2.jpg' ,'img/photo/news-img-3.jpg'];
        - var pagination = false;
        +news(title, subtitle, imgUrls, pagination)


block footer 
    include components/footer/_footer