extends _base

block header
    - var headerModClass = 'header--text-dark';
    include components/header/_header

block content
    main._page.compare-page.padding-top-header-size

        include components/technical-info/_technical-info

block footer 
    include components/footer/_footer