extends _base

block header
    - var headerModClass = 'header--text-dark';
    include components/header/_header

block content
    main._page.confidential-page.padding-top-header-size
        section.article
            .article__row
                .container-sm 
                    h3.article__title Конфиденциальность
            .article__row
                .container-sm
                    .article__text.text-content.text-content--big.text-secondary 
                        p Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных систем на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи.
                        p Ввод данных банковской карты осуществляется на защищенной платежной странице банка, предоставляющего услугу. Предоставляемая вами персональная информация (имя, адрес, номер телефона, email, номер кредитной или дебетовой карты) является конфиденциальной и не подлежит разглашению. Данные вашей кредитной или дебетовой карты передаются только в зашифрованном виде и не сохраняются на нашем веб-сервере.
                        p Безопасность обработки интернет-платежей гарантирует банк ООО НКО «ЮМани». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.
                        h5 Случаи отказа в совершении платежа:
                        ul 
                            li Банковская карта не предназначена для совершения платежей через интернет. Этой информацией владеет ваш банк. Обратитесь туда за разъяснениями;
                            li На банковской карте недостаточно средств для оплаты. Подробнее о наличии средств на банковской карте вы можете узнать, обратившись в банк, выпустивший банковскую карту;
                            li Данные банковской карты введены неверно;
                            li 	Истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта). Информацию и подробности о сроке действия карты вы можете узнать, обратившись в банк, выпустивший банковскую карту.

block footer 
    include components/footer/_footer