extends _base

block header
    - var headerModClass = 'header--text-dark';
    include components/header/_header

block content
    main._page.contact-page.padding-top-header-size
        include components/contact/_contact


block footer 
    include components/footer/_footer