extends _base

block header
    - var headerModClass = 'header--text-dark';
    include components/header/_header

block content
    main._page.delivery-page.padding-top-header-size
        section.article
            .article__row
                .container-sm 
                    h3.article__title Доставка и оплата
            .article__row
                .container-sm
                    .article__text.text-content.text-content--big.text-secondary 
                        p При заказе товаров через наш Сайт доставка доступна во все регионы Российской Федерации и осуществляется логистическими партнерами Сайта на условиях, определенных Продавцом.

                        table.table-default.table-default--col-2(data-table-show-first-lines="3")
                            tr 
                                th.bg-dark.text-white Город
                                th.bg-dark.text-white Срок доставки, дни
                            tr 
                                td Москва
                                td 2-3
                            tr 
                                td.bg-light Санкт-Петербург
                                td.bg-light 2-4
                            tr 
                                td Волгоград
                                td 2-5
                            tr 
                                td.bg-light Воронеж
                                td.bg-light 2-5
                        
                        table.table-default.table-default--col-3.table-default(data-table-show-first-lines="2")
                            tr 
                                th.bg-dark.text-white Город
                                th.bg-dark.text-white Срок доставки, дни
                                th.bg-dark.text-white Срок доставки, дни
                            tr 
                                td Москва
                                td 2-3
                                td 2-3
                            tr 
                                td.bg-light Санкт-Петербург
                                td.bg-light 2-4
                                td.bg-light 2-4
                            tr 
                                td Волгоград
                                td 2-5
                                td 2-5
                            tr 
                                td.bg-light Воронеж
                                td.bg-light 2-5
                                td.bg-light 2-5


                        h5 Способы доставки:
                        ul 
                            li <strong class="text-primary">Доставка в пределах Москвы и Московской области</strong> осуществляется в промежутке от 2 до 4 рабочих дней с момента передачи заказа в курьерскую службу.
                            li <strong class="text-primary">Доставка в различные регионы России</strong> осуществляется в срок от 5 до 15 рабочих дней с момента передачи заказа в курьерскую службу.

                        p Подтверждением того, что ваш заказ приняли и передали в курьерскую службу, является наличие соответствующего письма-уведомления. Это письмо высылается   на адрес электронной почты, указанный вами при оформлении заказа.
                        p Обратите внимание, что в этом письме должен быть трек-номер, присвоенный вашему заказу. По этому трек-номеру можно отследить движение заказа в системе курьерской службы. 

                        h5 Способы доставки:
                        ul 
                            li <strong class="text-primary">Доставка курьерской службой</strong>

                        p Доставка заказов осуществляется во все регионы России.
                        p Доступно два варианта доставки: до двери или до пункта выдачи заказов.
                        p После оформления заказа с вами свяжется представитель Сайта, чтобы уточнить  контактные данные, адрес и вид доставки, удобный вам.
                        p В день доставки с вами свяжется представитель курьерской службы для согласования  времени доставки. Звонок будет осуществлен на номер, указанный при оформлении заказа. Пожалуйста, убедитесь, что ваш телефон включен и находится рядом с вами.
                        p В момент получения заказа в присутствии представителя курьерской службы вам необходимо сделать оценку целостности упаковки посылки: проверить целостность заводской упаковки и отсутствие механических повреждений. Если вас удовлетворило качество посылки, необходимо подписать акт приема заказа.  Обратите внимание, после подписи акта приема заказа любые претензии с вашей стороны к недоукомплектованности и внешнему виду заводской упаковки не будут приняты.
                        p Мы работаем с курьерскими службами: КСЭ, CDEK.
                        p Более подробную информацию об условиях и сроках доставки вы можете уточнить у Продавца (представителя Сайта) по телефону: <strong class="text-dark">+7 (499) 112 07 08</strong> или по электронной почте: <a href="mailto:sales@jimmyrussia.ru.">sales@jimmyrussia.ru.</a>   

                        h5 Способы оплаты заказа:
                        ul 
                            li <strong class="text-primary">Доступно два способа оплаты: оплата при получении и онлайн-оплата</strong>

                        p После оформления заказа с вами свяжется наш представитель, чтобы уточнить удобный способ оплаты.


block footer 
    include components/footer/_footer