.gallery
    .gallery__item.ibg 
        img(src="img/photo/gallery-img-1.jpg", alt="")
    .gallery__item.ibg 
        img(src="img/photo/gallery-img-2.jpg", alt="")
    .gallery__item.ibg 
        img(src="img/photo/gallery-img-3.jpg", alt="")
    .gallery__item.ibg 
        img(src="img/photo/gallery-img-4.jpg", alt="")