.ban-dark {
    background-color: #000;

    &--second {
        background-color: #0d0818;
    }
    &--third {
        background-color: #101116;
    }
    &--fourth {
        background-color: #181818;
    }

    &--row-revers {
        & .ban-dark__body {
            @media (min-width: 992px) {
                flex-direction: row;
            }
        }
        & .ban-dark__text-wrap {
            @media (min-width: 992px) {
                margin-left: 0;
                padding-left: 0;
                padding-right: 10rem;
            }
        }

        & .ban-dark__img {
            @media (min-width: 1346px) {
                margin-right: calc(calc((100vw - 196rem) / 2) * -1);
                flex: 0 0 calc(50% + (calc(calc((100vw - 196rem) / 2))));
            }
            @media (min-width: 1268px) {
                margin-right: calc(calc((100vw - (100vw - 200px)) / 2) * -1);
                flex: 0 0 calc(50% + calc(calc((100vw - (100vw - 200px)) / 2)));
            }
            @media (min-width: 992px) {
                margin-left: 0;
                margin-right: calc(calc((100vw - (100vw - 100px)) / 2) * -1);
                flex: 0 0 calc(50% + calc(calc((100vw - (100vw - 100px)) / 2)));
            }
        }
    }

    &__body {
        position: relative;

        @media (min-width: 992px) {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    &__text-wrap {
        flex: 0 0 auto;
        color: #fff;
        padding: 10rem 0 10rem 10rem;

        & > *:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 992px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            margin-left: auto;
            //min-height: 120rem;
        }

        @media (max-width: $md2+px) {
            padding: 71px 0 57px;
        }
    }

    &__title {
        margin-bottom: 6.2rem;

        @media (max-width: $md2+px) {
            margin-bottom: 25px;
        }
    }

    &__text {
        max-width: 25.75em;
        margin-bottom: 7.8rem;

        @media (max-width: $md3+px) {
            margin-bottom: 36px;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        z-index: 1;

        @media (min-width: 1346px) {
            margin-left: calc(calc((100vw - 196rem) / 2) * -1);
            flex: 0 0 calc(50% + (calc(calc((100vw - 196rem) / 2))));
        }

        @media (min-width: 1268px) {
            margin-left: calc(calc((100vw - (100% - 0px)) / 2) * -1);
            flex: 0 0 calc(50% + calc(calc((100vw - (100% - 0px)) / 2)));
        }
        @media (min-width: 992px) {
            margin-left: calc(calc((100vw - (100% - 0px)) / 2) * -1);
            flex: 0 0 calc(50% + calc(calc((100vw - (100% - 0px)) / 2)));
            transform: translate(0);
            left: 0;

            & img {
                position: static;
                width: 100%;
                height: auto;
                display: block;
            }
        }

        @media (max-width: $md2+px) {
            margin-left: -16px;
            margin-right: -16px;

            & img {
                position: static;
                height: auto;
            }
        }
    }

    &__label-list {
    }

    &__list,
    ul {
        color: #fff;

        @media (min-width: 992px) {
            margin-bottom: 8.9rem;
            max-width: none;
            padding-left: 3rem;
            font-size: 3rem;

            & li {
                list-style: disc;

                &:not(:last-child) {
                    margin-bottom: 3rem;
                }
            }

            & p {
                line-height: 1.25em;
                letter-spacing: -0.01em;
                margin-bottom: 0;
            }
        }

        @media (max-width: $md2+px) {
            margin-bottom: 53px;
            max-width: 400px;
            font-size: 20px;
            & li {
                list-style: disc;
                &:not(:last-child) {
                    margin-bottom: 19px;
                }
            }

            & p {
                line-height: 28px;
                letter-spacing: 0.181818px;
                margin-bottom: 0;
            }
        }
    }
}
