section.product-classes
        .product-classes__body.container
            .product-classes__nav
                .product-classes__nav-item.wow.fadeInUp(data-wow-duration="0.8s") 
                    a(href="#").product-classes-nav-card
                        .product-classes-nav-card__layer-1
                            .product-classes-nav-card__bg.ibg 
                                picture
                                    source(srcset="img/photo/classes-img-bg-1.jpg" media="(min-width: 576px)")
                                    img(src="img/photo/classes-img-bg-mob-1-x2.jpg" alt="img")
                            .product-classes-nav-card__inner
                                .product-classes-nav-card__title Бритвы и триммеры
                                .product-classes-nav-card__arrow
                                    i.icon-arrow-right
                        .product-classes-nav-card__layer-2
                            .product-classes-nav-card__img
                                img(src="img/photo/classes-img-1.jpg", alt="")
                            .product-classes-nav-card__title Бритвы и триммеры

                .product-classes__nav-item.wow.fadeInUp(data-wow-duration="0.8s") 
                    a(href="#").product-classes-nav-card
                        .product-classes-nav-card__layer-1
                            .product-classes-nav-card__bg.ibg 
                                picture
                                    source(srcset="img/photo/classes-img-bg-2.jpg" media="(min-width: 576px)")
                                    img(src="img/photo/classes-img-bg-mob-2-x2.jpg" alt="img")
                            .product-classes-nav-card__inner
                                .product-classes-nav-card__title Зубные щетки и ирригаторы
                                .product-classes-nav-card__arrow
                                    i.icon-arrow-right
                        .product-classes-nav-card__layer-2
                            .product-classes-nav-card__img
                                img(src="img/photo/classes-img-2.jpg", alt="")
                            .product-classes-nav-card__title Зубные щетки и ирригаторы

                .product-classes__nav-item.wow.fadeInUp(data-wow-duration="0.8s") 
                    a(href="#").product-classes-nav-card
                        .product-classes-nav-card__layer-1
                            .product-classes-nav-card__bg.ibg 
                                picture
                                    source(srcset="img/photo/classes-img-bg-3.jpg" media="(min-width: 576px)")
                                    img(src="img/photo/classes-img-bg-mob-3-x2.jpg" alt="img")
                            .product-classes-nav-card__inner
                                .product-classes-nav-card__title Фены для волос 
                                .product-classes-nav-card__arrow
                                    i.icon-arrow-right
                        .product-classes-nav-card__layer-2
                            .product-classes-nav-card__img
                                img(src="img/photo/classes-img-3.jpg", alt="")
                            .product-classes-nav-card__title Фены для волос 

                .product-classes__nav-item.wow.fadeInUp(data-wow-duration="0.8s") 
                    a(href="#").product-classes-nav-card
                        .product-classes-nav-card__layer-1
                            .product-classes-nav-card__bg.ibg 
                                picture
                                    source(srcset="img/photo/classes-img-bg-4.jpg" media="(min-width: 576px)")
                                    img(src="img/photo/classes-img-bg-mob-4-x2.jpg" alt="img")
                            .product-classes-nav-card__inner
                                .product-classes-nav-card__title Акссессуары
                                .product-classes-nav-card__arrow
                                    i.icon-arrow-right
                        .product-classes-nav-card__layer-2
                            .product-classes-nav-card__img
                                img(src="img/photo/classes-img-4.jpg", alt="")
                            .product-classes-nav-card__title Акссессуары

