.product-services(data-product-services)
    .product-services__head Выбрать и добавить услугу
    .product-services__body
        button(type="button").product-services__close <span></span>
        .product-services__title услуги
        ol.product-services__list 
            li.product-services__list-item
                .product-services__list-item-inner
                    .product-services__list-text Услуга <a href="#">“Продление гарантии на велосипед”</a> на <strong>12 месяцев</strong> <br> Стоимость: <strong>2 990 ₽</strong>
                    button(type="button").product-services__list-btn.product-services__list-btn--inactive В корзину
            li.product-services__list-item
                .product-services__list-item-inner
                    .product-services__list-text Услуга <a href="#">“Продление гарантии на велосипед”</a> на <strong>24 месяцев</strong> <br> Стоимость: <strong>4 990 ₽</strong>
                    button(type="button").product-services__list-btn В корзину