.text-block {

    &__text {
        & [class^="col"] {
            & > *:last-child {
                margin-bottom: 0;
            }
        }
        & [class^="col"] + [class^="col"] {
            & h1, & h2, & h3, & h4, & h5, & h6 {
                @media (max-width: $md2+px) {
                    margin-top: 80px;
                }
                @media (max-width: $md3+px) {
                    margin-top: 50px;
                }
            }
        }
    }
}