mixin rating(count)
    .rating(data-rating=count)&attributes(attributes) 
        .rating__star
            span.icon-star-full
        .rating__star 
            span.icon-star-full
        .rating__star 
            span.icon-star-full
        .rating__star 
            span.icon-star-full
        .rating__star 
            span.icon-star-full