.rating {
    font-size: 1rem;
    display: flex;

    @media (max-width: $md2+px) {
        font-size: 8px;
    }
    @media (max-width: $md3+px) {
        font-size: 7px;
    }

    &__star {
        flex: 0 0 auto;
        font-size: 3em;
        margin-right: 0.25em;
        color: #F0F0F0;

        &--active {
            color: $mainColor;
        }

        & span {
            display: inline-block;
        }
    }
}