.slider-controls 
    .slider-controls__btn.slider-controls__btn--prev(data-action="slider-prev") 
        span.icon-chevron-left1
    .slider-controls__btn.slider-controls__btn--next(data-action="slider-next")  
        span.icon-chevron-right1