.video-gallery
    a(href="https://youtu.be/hp2UQDrkjN4" data-fancybox="gallery").video-gallery__item
        figure.video-gallery__poster.ibg 
            .video-gallery__play 
                i.icon-play 
            img(src="img/photo/video-gallery-poster-1.jpg", alt="")
        figcaption.video-gallery__text ADO A20F: Все, что вам нужно знать о новом электрическом фэтбайке…
    a(href="https://youtu.be/hp2UQDrkjN4" data-fancybox="gallery").video-gallery__item
        figure.video-gallery__poster.ibg 
            .video-gallery__play 
                i.icon-play 
            img(src="img/photo/video-gallery-poster-1.jpg", alt="")
        figcaption.video-gallery__text ADO A20F: Внедорожный Электрический Складной Велосипед с двигателем 500W
    a(href="https://youtu.be/hp2UQDrkjN4" data-fancybox="gallery").video-gallery__item
        figure.video-gallery__poster.ibg 
            .video-gallery__play 
                i.icon-play 
            img(src="img/photo/video-gallery-poster-2.jpg", alt="")
        figcaption.video-gallery__text ADO A20F: Внедорожный Электрический Складной Велосипед с двигателем 500W