ul.history-orders
    li.history-orders__item 
        .order-card(data-order-card)
            .order-card__head
                .order-card__head-col-1 
                    strong NO - 000121231 
                .order-card__head-col-2 
                    div 
                        strong от 22 мая 2022
                    div обновлен 
                        strong 22 мая 2022 
                .order-card__head-col-3
                    strong.text-danger Отменен 
                .order-card__head-col-4
                    strong 99 999 ₽ 
            .order-card__body
                .order-card__row.order-card__row--1
                    .order-card__col.order-card__col--1
                        ul.order-card__delivery-status 
                            li.order-card__delivery-status-item Ваш заказ принят 01.01.22
                            li.order-card__delivery-status-item.order-card__delivery-status-item--active Ваш заказ передан в доставку 02.01.2022
                        h3.order-card__title Трек-номер заказа: 230942249
                        .order-card__text 
                            p   Вы можете отследить заказ с помощью сервисов: <a href="#">Где Посылка</a> или <a href="#">Посылки</a>
                    .order-card__col.order-card__col--2
                        h3.order-card__title.text-uppercase подробности заказа
                        .order-card__text 
                            ul 
                                li Получатель: Пашков Евгений Васильевич
                                li Телефон: +7 999 999 88 88
                                li Доставка: Доставка в ApiShop
                                li Адрес: 111234, Москва, Завода серп и Молот, 6 к 1, 1
                                li Тип оплаты: онлайн оплата 
                                li Комментарий: Тестовый предзаказ
                .order-card__row.order-card__row--2
                    h3.order-card__title.text-uppercase состав заказа
                    ul.order-card__products
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 12 230 ₽
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 99 999 ₽
                    
                    .order-card__bottom 
                        button(type="button").order-card__btn.basket-btn повторить заказ
                        table.order-card__table 
                            tr 
                                td Сумма заказа
                                td 112 999 ₽
                            tr 
                                td Доставка
                                td 0 ₽
                            tr 
                                td Оплачено trade-in
                                td 1 300 ₽
                            tr 
                                td.text-primary начислено баллов
                                td.text-primary +300 ₽
                            tr 
                                td
                                    strong ИТОГО
                                td
                                    strong 99 999 ₽
    li.history-orders__item 
        .order-card(data-order-card)
            .order-card__head
                .order-card__head-col-1 
                    strong NO - 000121231 
                .order-card__head-col-2 
                    div 
                        strong от 22 мая 2022
                    div обновлен 
                        strong 22 мая 2022 
                .order-card__head-col-3
                    strong.text-danger Отменен 
                .order-card__head-col-4
                    strong 99 999 ₽ 
            .order-card__body
                .order-card__row.order-card__row--1
                    .order-card__col.order-card__col--1
                        ul.order-card__delivery-status 
                            li.order-card__delivery-status-item Ваш заказ принят 01.01.22
                            li.order-card__delivery-status-item.order-card__delivery-status-item--active Ваш заказ передан в доставку 02.01.2022
                        h3.order-card__title Трек-номер заказа: 230942249
                        .order-card__text 
                            p   Вы можете отследить заказ с помощью сервисов: <a href="#">Где Посылка</a> или <a href="#">Посылки</a>
                    .order-card__col.order-card__col--2
                        h3.order-card__title.text-uppercase подробности заказа
                        .order-card__text 
                            ul 
                                li Получатель: Пашков Евгений Васильевич
                                li Телефон: +7 999 999 88 88
                                li Доставка: Доставка в ApiShop
                                li Адрес: 111234, Москва, Завода серп и Молот, 6 к 1, 1
                                li Тип оплаты: онлайн оплата 
                                li Комментарий: Тестовый предзаказ
                .order-card__row.order-card__row--2
                    h3.order-card__title.text-uppercase состав заказа
                    ul.order-card__products
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 12 230 ₽
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 99 999 ₽
                    
                    .order-card__bottom 
                        button(type="button").order-card__btn.basket-btn повторить заказ
                        table.order-card__table 
                            tr 
                                td Сумма заказа
                                td 112 999 ₽
                            tr 
                                td Доставка
                                td 0 ₽
                            tr 
                                td Оплачено trade-in
                                td 1 300 ₽
                            tr 
                                td.text-primary начислено баллов
                                td.text-primary +300 ₽
                            tr 
                                td
                                    strong ИТОГО
                                td
                                    strong 99 999 ₽
    li.history-orders__item 
        .order-card(data-order-card)
            .order-card__head
                .order-card__head-col-1 
                    strong NO - 000121231 
                .order-card__head-col-2 
                    div 
                        strong от 22 мая 2022
                    div обновлен 
                        strong 22 мая 2022 
                .order-card__head-col-3
                    strong.text-danger Отменен 
                .order-card__head-col-4
                    strong 99 999 ₽ 
            .order-card__body
                .order-card__row.order-card__row--1
                    .order-card__col.order-card__col--1
                        ul.order-card__delivery-status 
                            li.order-card__delivery-status-item Ваш заказ принят 01.01.22
                            li.order-card__delivery-status-item.order-card__delivery-status-item--active Ваш заказ передан в доставку 02.01.2022
                        h3.order-card__title Трек-номер заказа: 230942249
                        .order-card__text 
                            p   Вы можете отследить заказ с помощью сервисов: <a href="#">Где Посылка</a> или <a href="#">Посылки</a>
                    .order-card__col.order-card__col--2
                        h3.order-card__title.text-uppercase подробности заказа
                        .order-card__text 
                            ul 
                                li Получатель: Пашков Евгений Васильевич
                                li Телефон: +7 999 999 88 88
                                li Доставка: Доставка в ApiShop
                                li Адрес: 111234, Москва, Завода серп и Молот, 6 к 1, 1
                                li Тип оплаты: онлайн оплата 
                                li Комментарий: Тестовый предзаказ
                .order-card__row.order-card__row--2
                    h3.order-card__title.text-uppercase состав заказа
                    ul.order-card__products
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 12 230 ₽
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 99 999 ₽
                    
                    .order-card__bottom 
                        button(type="button").order-card__btn.basket-btn повторить заказ
                        table.order-card__table 
                            tr 
                                td Сумма заказа
                                td 112 999 ₽
                            tr 
                                td Доставка
                                td 0 ₽
                            tr 
                                td Оплачено trade-in
                                td 1 300 ₽
                            tr 
                                td.text-primary начислено баллов
                                td.text-primary +300 ₽
                            tr 
                                td
                                    strong ИТОГО
                                td
                                    strong 99 999 ₽
    li.history-orders__item 
        .order-card(data-order-card)
            .order-card__head
                .order-card__head-col-1 
                    strong NO - 000121231 
                .order-card__head-col-2 
                    div 
                        strong от 22 мая 2022
                    div обновлен 
                        strong 22 мая 2022 
                .order-card__head-col-3
                    strong.text-danger Отменен 
                .order-card__head-col-4
                    strong 99 999 ₽ 
            .order-card__body
                .order-card__row.order-card__row--1
                    .order-card__col.order-card__col--1
                        ul.order-card__delivery-status 
                            li.order-card__delivery-status-item Ваш заказ принят 01.01.22
                            li.order-card__delivery-status-item.order-card__delivery-status-item--active Ваш заказ передан в доставку 02.01.2022
                        h3.order-card__title Трек-номер заказа: 230942249
                        .order-card__text 
                            p   Вы можете отследить заказ с помощью сервисов: <a href="#">Где Посылка</a> или <a href="#">Посылки</a>
                    .order-card__col.order-card__col--2
                        h3.order-card__title.text-uppercase подробности заказа
                        .order-card__text 
                            ul 
                                li Получатель: Пашков Евгений Васильевич
                                li Телефон: +7 999 999 88 88
                                li Доставка: Доставка в ApiShop
                                li Адрес: 111234, Москва, Завода серп и Молот, 6 к 1, 1
                                li Тип оплаты: онлайн оплата 
                                li Комментарий: Тестовый предзаказ
                .order-card__row.order-card__row--2
                    h3.order-card__title.text-uppercase состав заказа
                    ul.order-card__products
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 12 230 ₽
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 99 999 ₽
                    
                    .order-card__bottom 
                        button(type="button").order-card__btn.basket-btn повторить заказ
                        table.order-card__table 
                            tr 
                                td Сумма заказа
                                td 112 999 ₽
                            tr 
                                td Доставка
                                td 0 ₽
                            tr 
                                td Оплачено trade-in
                                td 1 300 ₽
                            tr 
                                td.text-primary начислено баллов
                                td.text-primary +300 ₽
                            tr 
                                td
                                    strong ИТОГО
                                td
                                    strong 99 999 ₽
    li.history-orders__item 
        .order-card(data-order-card)
            .order-card__head
                .order-card__head-col-1 
                    strong NO - 000121231 
                .order-card__head-col-2 
                    div 
                        strong от 22 мая 2022
                    div обновлен 
                        strong 22 мая 2022 
                .order-card__head-col-3
                    strong.text-danger Отменен 
                .order-card__head-col-4
                    strong 99 999 ₽ 
            .order-card__body
                .order-card__row.order-card__row--1
                    .order-card__col.order-card__col--1
                        ul.order-card__delivery-status 
                            li.order-card__delivery-status-item Ваш заказ принят 01.01.22
                            li.order-card__delivery-status-item.order-card__delivery-status-item--active Ваш заказ передан в доставку 02.01.2022
                        h3.order-card__title Трек-номер заказа: 230942249
                        .order-card__text 
                            p   Вы можете отследить заказ с помощью сервисов: <a href="#">Где Посылка</a> или <a href="#">Посылки</a>
                    .order-card__col.order-card__col--2
                        h3.order-card__title.text-uppercase подробности заказа
                        .order-card__text 
                            ul 
                                li Получатель: Пашков Евгений Васильевич
                                li Телефон: +7 999 999 88 88
                                li Доставка: Доставка в ApiShop
                                li Адрес: 111234, Москва, Завода серп и Молот, 6 к 1, 1
                                li Тип оплаты: онлайн оплата 
                                li Комментарий: Тестовый предзаказ
                .order-card__row.order-card__row--2
                    h3.order-card__title.text-uppercase состав заказа
                    ul.order-card__products
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 12 230 ₽
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 99 999 ₽
                    
                    .order-card__bottom 
                        button(type="button").order-card__btn.basket-btn повторить заказ
                        table.order-card__table 
                            tr 
                                td Сумма заказа
                                td 112 999 ₽
                            tr 
                                td Доставка
                                td 0 ₽
                            tr 
                                td Оплачено trade-in
                                td 1 300 ₽
                            tr 
                                td.text-primary начислено баллов
                                td.text-primary +300 ₽
                            tr 
                                td
                                    strong ИТОГО
                                td
                                    strong 99 999 ₽
    li.history-orders__item 
        .order-card(data-order-card)
            .order-card__head
                .order-card__head-col-1 
                    strong NO - 000121231 
                .order-card__head-col-2 
                    div 
                        strong от 22 мая 2022
                    div обновлен 
                        strong 22 мая 2022 
                .order-card__head-col-3
                    strong.text-danger Отменен 
                .order-card__head-col-4
                    strong 99 999 ₽ 
            .order-card__body
                .order-card__row.order-card__row--1
                    .order-card__col.order-card__col--1
                        ul.order-card__delivery-status 
                            li.order-card__delivery-status-item Ваш заказ принят 01.01.22
                            li.order-card__delivery-status-item.order-card__delivery-status-item--active Ваш заказ передан в доставку 02.01.2022
                        h3.order-card__title Трек-номер заказа: 230942249
                        .order-card__text 
                            p   Вы можете отследить заказ с помощью сервисов: <a href="#">Где Посылка</a> или <a href="#">Посылки</a>
                    .order-card__col.order-card__col--2
                        h3.order-card__title.text-uppercase подробности заказа
                        .order-card__text 
                            ul 
                                li Получатель: Пашков Евгений Васильевич
                                li Телефон: +7 999 999 88 88
                                li Доставка: Доставка в ApiShop
                                li Адрес: 111234, Москва, Завода серп и Молот, 6 к 1, 1
                                li Тип оплаты: онлайн оплата 
                                li Комментарий: Тестовый предзаказ
                .order-card__row.order-card__row--2
                    h3.order-card__title.text-uppercase состав заказа
                    ul.order-card__products
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 12 230 ₽
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 99 999 ₽
                    
                    .order-card__bottom 
                        button(type="button").order-card__btn.basket-btn повторить заказ
                        table.order-card__table 
                            tr 
                                td Сумма заказа
                                td 112 999 ₽
                            tr 
                                td Доставка
                                td 0 ₽
                            tr 
                                td Оплачено trade-in
                                td 1 300 ₽
                            tr 
                                td.text-primary начислено баллов
                                td.text-primary +300 ₽
                            tr 
                                td
                                    strong ИТОГО
                                td
                                    strong 99 999 ₽
    li.history-orders__item 
        .order-card(data-order-card)
            .order-card__head
                .order-card__head-col-1 
                    strong NO - 000121231 
                .order-card__head-col-2 
                    div 
                        strong от 22 мая 2022
                    div обновлен 
                        strong 22 мая 2022 
                .order-card__head-col-3
                    strong.text-success Передан в курьерскую службу 
                .order-card__head-col-4
                    strong 99 999 ₽ 
            .order-card__body
                .order-card__row.order-card__row--1
                    .order-card__col.order-card__col--1
                        ul.order-card__delivery-status 
                            li.order-card__delivery-status-item Ваш заказ принят 01.01.22
                            li.order-card__delivery-status-item.order-card__delivery-status-item--active Ваш заказ передан в доставку 02.01.2022
                        h3.order-card__title Трек-номер заказа: 230942249
                        .order-card__text 
                            p   Вы можете отследить заказ с помощью сервисов: <a href="#">Где Посылка</a> или <a href="#">Посылки</a>
                    .order-card__col.order-card__col--2
                        h3.order-card__title.text-uppercase подробности заказа
                        .order-card__text 
                            ul 
                                li Получатель: Пашков Евгений Васильевич
                                li Телефон: +7 999 999 88 88
                                li Доставка: Доставка в ApiShop
                                li Адрес: 111234, Москва, Завода серп и Молот, 6 к 1, 1
                                li Тип оплаты: онлайн оплата 
                                li Комментарий: Тестовый предзаказ
                .order-card__row.order-card__row--2
                    h3.order-card__title.text-uppercase состав заказа
                    ul.order-card__products
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 12 230 ₽
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 99 999 ₽
                    
                    .order-card__bottom 
                        button(type="button").order-card__btn.basket-btn.inactive повторить заказ
                        table.order-card__table 
                            tr 
                                td Сумма заказа
                                td 112 999 ₽
                            tr 
                                td Доставка
                                td 0 ₽
                            tr 
                                td Оплачено trade-in
                                td 1 300 ₽
                            tr 
                                td.text-primary начислено баллов
                                td.text-primary +300 ₽
                            tr 
                                td
                                    strong ИТОГО
                                td
                                    strong 99 999 ₽
    li.history-orders__item 
        .order-card(data-order-card)
            .order-card__head
                .order-card__head-col-1 
                    strong NO - 000121231 
                .order-card__head-col-2 
                    div 
                        strong от 22 мая 2022
                    div обновлен 
                        strong 22 мая 2022 
                .order-card__head-col-3
                    strong.text-success Передан в курьерскую службу 
                .order-card__head-col-4
                    strong 99 999 ₽ 
            .order-card__body
                .order-card__row.order-card__row--1
                    .order-card__col.order-card__col--1
                        ul.order-card__delivery-status 
                            li.order-card__delivery-status-item Ваш заказ принят 01.01.22
                            li.order-card__delivery-status-item.order-card__delivery-status-item--active Ваш заказ передан в доставку 02.01.2022
                        h3.order-card__title Трек-номер заказа: 230942249
                        .order-card__text 
                            p   Вы можете отследить заказ с помощью сервисов: <a href="#">Где Посылка</a> или <a href="#">Посылки</a>
                    .order-card__col.order-card__col--2
                        h3.order-card__title.text-uppercase подробности заказа
                        .order-card__text 
                            ul 
                                li Получатель: Пашков Евгений Васильевич
                                li Телефон: +7 999 999 88 88
                                li Доставка: Доставка в ApiShop
                                li Адрес: 111234, Москва, Завода серп и Молот, 6 к 1, 1
                                li Тип оплаты: онлайн оплата 
                                li Комментарий: Тестовый предзаказ
                .order-card__row.order-card__row--2
                    h3.order-card__title.text-uppercase состав заказа
                    ul.order-card__products
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 12 230 ₽
                        li.order-card__products-item 
                            .order-card__products-item-col.order-card__products-item-col--1 
                                strong 
                                    a(href="#") Наименование заказа (оно активно, можно нажать)
                            .order-card__products-item-col.order-card__products-item-col--2 1 шт
                            .order-card__products-item-col.order-card__products-item-col--3 
                                .order-card__products-item-price 99 999 ₽
                    
                    .order-card__bottom 
                        button(type="button").order-card__btn.basket-btn.inactive повторить заказ
                        table.order-card__table 
                            tr 
                                td Сумма заказа
                                td 112 999 ₽
                            tr 
                                td Доставка
                                td 0 ₽
                            tr 
                                td Оплачено trade-in
                                td 1 300 ₽
                            tr 
                                td.text-primary начислено баллов
                                td.text-primary +300 ₽
                            tr 
                                td
                                    strong ИТОГО
                                td
                                    strong 99 999 ₽
