mixin post-card(imgUrl) 
    a(href="#").post-card&attributes(attributes)
        .post-card__img.ibg 
            img(src=imgUrl, alt="")
        .post-card__head 
            span.post-card__label About ADO
            | |
            span.post-card__date 22 Jan 2022
        .post-card__title ADO Vision is unlock possibiliries for life and realize it better