.post-card {
    display: block;
    height: 100%;
    font-size: 1rem;

    @media (max-width: $md2+px) {
        font-size: 8px;
    }
    @media (max-width: $md3+px) {
        font-size: 6px;
    }

    &__img {
        height: 0;
        padding-bottom: 63.19%;
        margin-bottom: 4em;
    }

    &__head  {
        font-weight: 500;
        font-size: 2.4em;
        line-height: 1em;
        color: #C6C6C6;
        margin-bottom: 0.625em;
    }

    &__label {
        color: $mainColor;
        margin-right: 0.83em;
    }

    &__date {
        margin-left: 0.83em;
    }

    &__title {
        font-size: 3em;
        line-height: 1.25em;
        font-weight: 700;
        transition: all .3s ease;
    }
}