.popup#popupMap <!-- API   popup.open('#popupMap')  popup.close('#popupMap') -->
    .popup__body 
        .popup__close-btn(data-popup="close-popup")
            span  
        .popup__map-wrap
            //iframe(src="https://yandex.ru/map-widget/v1/-/CCUFNDuJXA" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;")
