.popup#popupSerch
	.popup__body 
		.popup__close-btn(data-popup="close-popup")
			span 
		.popup__content.popup__content--search
			form(action="/") 
				.popup-search
					.popup-search__input.input
						input(type="text" placeholder="Поиск товаров").input__field
					button.popup-search__submit.btn Искать
