.popup#resetPassword <!-- API   popup.open('#resetPassword')  popup.close('#resetPassword') -->
    .popup__body 
        .popup__content.popu-reset-password-box
            .popup__close-btn.popup__close-btn--dark(data-popup="close-popup")
                span  
            form(action="/")
                .popup-form.popu-reset-password-box__content 
                    .popup-form__title.text-center Форма сброса пароля
                    .popup-form__items 
                        .popup-form__item
                            input.form-control(type="email" placeholder="Email")
                            .popup-form__text Введите e-mail указанный при регистрации
                    
                    button.popup-form__submit.btn-link Сбросить пароль