.popup#popupMessageRefund <!-- API   popup.open('#popupMessageRefund')  popup.close('#popupMessageRefund') -->
    .popup__body 
        .popup__content
            .popup__close-btn.popup__close-btn--dark(data-popup="close-popup")
                span  
            .popup-message.text-center
                .popup-message__icon 
                    img(src="img/icons/check-circle.svg", alt="")
                h3.popup-message__title Ваша заявка на возврат отправлена.
                .popup-message__text.text-content 
                    p Наш специалист свяжется с вами в течение дня для уточнения деталей.