
.popup-form {
    display: flex;
    flex-direction: column;
    &__title {
        font-size: 5.5rem;
        line-height: 1.2em;
        text-transform: uppercase;
        margin-bottom: 5.5rem;
        font-weight: 700;

        @media (max-width: $md3+px) {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 18px;
        }
    }
    &__items {
        margin-bottom: 6rem;

        @media (max-width: $md2+px) {
            margin-bottom: 60px;
        }
        @media (max-width: $md3+px) {
            margin-bottom: 40px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 8rem;

            @media (max-width: $md2+px) {
                margin-bottom: 60px;
            }

            @media (max-width: $md3+px) {
                margin-bottom: 65px;
            }
        }

        & .checkbox-radio {
            font-size: 1.8rem;
        }

        & > *:not(:last-child) {
            margin-bottom: 2rem;

            @media (max-width: $md3+px) {
                margin-bottom: 10px;
            }
        }
    }

    &__submit {
        align-self: center;
        margin-bottom: 3rem;

        @media (max-width: $md4+px) {
            width: 100%;
            margin-bottom: 16px;
        }
    }

    &__continue {
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        color: $textColorSecondary;

        @media (max-width: $md3+px) {
            font-size: 18px;
            line-height: 22px;
        }

        @media (min-width: 992px) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__text {
        font-size: 2.8rem;
        line-height: 1.17em;

        @media (max-width: $md3+px) {
            font-size: 15px;
            line-height: 18px;
        }
    }
}

.popu-reset-password-box {
    max-width: 109.4rem;

    &__content {
        margin: 0 auto;
        width: 100%;
        max-width: 77.5rem;
        padding-top: 4rem;
    }
}
