.buttons-delivery-type.buttons-delivery-type--tabs
    .buttons-delivery-type__item(data-tab-trigger="0" data-tab-scroll-to-content)
        .buttons-delivery-type__item-body 
            .buttons-delivery-type__item-icon
                img.img-svg(src="img/icons/delivery-type-icon-1.svg", alt="")
            .buttons-delivery-type__item-inner 
                .buttons-delivery-type__item-title В ПУНКТ <br> ВЫДАЧИ ЗАКАЗОВ
                .buttons-delivery-type__item-cost Бесплатно

    .buttons-delivery-type__item(data-tab-trigger="1" data-tab-scroll-to-content)
        .buttons-delivery-type__item-body 
            .buttons-delivery-type__item-icon
                img.img-svg(src="img/icons/delivery-type-icon-2.svg", alt="")
            .buttons-delivery-type__item-inner 
                .buttons-delivery-type__item-title Курьером
                .buttons-delivery-type__item-cost Бесплатно

    .buttons-delivery-type__item(data-tab-trigger="2" data-tab-scroll-to-content)
        .buttons-delivery-type__item-body 
            .buttons-delivery-type__item-icon
                img.img-svg(src="img/icons/delivery-type-icon-3.svg", alt="")
            .buttons-delivery-type__item-inner 
                .buttons-delivery-type__item-title Экспресс-доставка
                .buttons-delivery-type__item-cost Бесплатно

    .buttons-delivery-type__item(data-tab-trigger="3" data-tab-scroll-to-content)
        .buttons-delivery-type__item-body 
            .buttons-delivery-type__item-icon
                img.img-svg(src="img/icons/delivery-type-icon-4.svg", alt="")
            .buttons-delivery-type__item-inner 
                .buttons-delivery-type__item-title Самовывоз
                .buttons-delivery-type__item-cost Бесплатно
