mixin product-benefits
    .product-benefits&attributes(attributes)
        .container
            ul.product-benefits__list
                li 
                    .product-benefits__icon
                        img(src="img/photo/product-benefits-icon-1.png", alt="")
                    .product-benefits__text.text Экологичный стиль жизни 
                    
                li 
                    .product-benefits__icon
                        img(src="img/photo/product-benefits-icon-2.png", alt="")
                    .product-benefits__text.text Удобство <br> эксплуатации
                li 
                    .product-benefits__icon
                        img(src="img/photo/product-benefits-icon-3.png", alt="")
                    .product-benefits__text.text Износостойкие комплектующие
                li 
                    .product-benefits__icon
                        img(src="img/photo/product-benefits-icon-4.png", alt="")
                    .product-benefits__text.text Официальное представительство в РФ
